#form-journey-container {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: start;
    width: 100%;
}

#journey-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#close-form {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#close-form::after {
    content: "\00d7";
    font-size: 2em;
    color: black;
}

#add-journey-form {
    display: flex;
    z-index: 2000;
    flex-direction: column;
    background-color: rgb(171, 195, 146);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 15px;
    min-width: 75%;

}

.form-journey-group {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

#form-submit {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

#form-title {
    margin-top: 0;
    margin-bottom: 5px;
}

#journey-content-container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    gap: 5px;
    align-items: center;
}

#journey-inputs-container {
    flex-grow: 1;
    width: 100%;
}

#search-journey {
    background-image: url("./../../assets/arrows-right.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: white;
    border-radius: 15%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#results {
    margin-top: 5px;
    font-size: large;
}

.result-elem {
    display: flex;
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(212, 230, 181);
    border-radius: 5px;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.result-timeline {
    display: flex;
    justify-content: start;
    align-items: center;
}

.additionnal-info {
    margin-left: 20px;
}

.with-bg-color {
    margin-right: 5px;
    display: inline-block;
    border: none;
    border-radius: 3em;
    text-align: center;
    line-height: 1.2em;
    min-width: 1em;
    padding: 0.2em 0.3em;
}

.mode-and-code {
    white-space: nowrap;
}

/* Styles for phones */
@media (max-width: 750px) {
    #add-journey-form {
        min-width: 90%;
    }

    #results {
        font-size: smaller;
    }
}
