<div id="form-journey-container" (click)="onClose()" (keydown.escape)="onClose()" tabindex="0">
    <form 
        id="add-journey-form" 
        [formGroup]="addJourneyForm" 
        (click)="$event.stopPropagation()"
        (keydown.escape)="$event.stopPropagation()"
    >
        <div id="journey-form-header">
            <h3 id="form-title">Planifiez votre trajet</h3>
            <button id="close-form" class="menu-button" title="Close" (click)="onClose()"></button>
        </div>

        <div id="journey-content-container">
            <div id="journey-inputs-container">
                <div class="form-journey-group">
                    <input
                    type="text"
                    id="journey-origin"
                    formControlName="origin"
                    placeholder="Départ (choisissez un marqueur)"
                    required
                    value="{{ [origin?.address] }}"
                    readonly
                />
                </div>
            
                <div class="form-journey-group">
                    <input
                    type="text"
                    id="journey-dest"
                    formControlName="dest"
                    placeholder="Arrivée (choisissez un marqueur)"
                    required
                    value="{{ [dest?.address] }}"
                    readonly
                    />
                </div>
            </div>
            <input type="button" class="menu-button" id="search-journey" title="Search" (click)="toggleSearch()" />
        </div>

        <div id="results">
            <div *ngFor="let result of results" class="result-elem" tabindex="1">
                <div class="object">
                    <div class="result-timeline">
                        <span>
                            {{ formatTime(result.departure_date_time) }}
                            >
                            <ng-container class="result-section" *ngFor="let section of result.sections; let i = index; let last = last">
                                <ng-container *ngIf="section.type === 'public_transport'; else defaultMode">
                                    <ng-container *ngIf="isTrain(section.display_informations.commercial_mode); else otherModes">
                                        <span class="mode-and-code">    
                                            <img src="assets/train.png" alt="Train" class="icon" />
                                            <span class="with-bg-color" [style.background-color]="'#' + section.display_informations.color" [style.color]="'#' + section.display_informations.text_color">
                                                {{ section.display_informations.label }}
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-template #otherModes>
                                        <ng-container [ngSwitch]="section.display_informations.commercial_mode">
                                            <span *ngSwitchCase="'Bus'" class="mode-and-code">
                                                <img src="assets/bus.png" alt="Bus" class="icon" />
                                                <span class="with-bg-color" [style.background-color]="'#' + section.display_informations.color" [style.color]="'#' + section.display_informations.text_color">
                                                    {{ section.display_informations.label }}
                                                </span>
                                            </span>
                                            <span *ngSwitchCase="'Métro'" class="mode-and-code">
                                                <img src="assets/metro.png" alt="Metro" class="icon" />
                                                <span class="with-bg-color" [style.background-color]="'#' + section.display_informations.color" [style.color]="'#' + section.display_informations.text_color">
                                                    {{ section.display_informations.label }}
                                                </span>
                                            </span>
                                            <span *ngSwitchDefault class="mode-and-code">
                                                {{ section.display_informations.commercial_mode }} {{ section.display_informations.label }}
                                            </span>
                                        </ng-container>
                                    </ng-template>
                                </ng-container>
                                <ng-template #defaultMode>
                                    <ng-container [ngSwitch]="section.mode">
                                        <span class="result-section" *ngSwitchCase="'walking'">
                                            <img src="assets/walking.png" alt="Walking" class="icon" />
                                        </span>
                                    </ng-container>
                                </ng-template>
                                >
                            </ng-container>
                            {{ formatTime(result.arrival_date_time) }}

                            <span class="additionnal-info mode-and-code">
                                <img src="assets/clock.png" alt="Clock" class="icon" />
                                {{ formatDuration(result.duration) }}
                            </span>

                            <span *ngIf="result.status" class="additionnal-info" [attr.title]="result.status">
                                <img src="assets/warning.png" alt="Warning" class="icon" />
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
