#map {
    width: 100%;
    height: 100%;
}

::ng-deep .custom-marker .marker-number {
    position: relative;
    top: -35px;
    right: -2px;
    font-size: 11px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}

::ng-deep .leaflet-popup .leaflet-popup-content-wrapper,
::ng-deep .leaflet-popup .leaflet-popup-tip {
    background-color: rgb(196, 131, 131);
}

::ng-deep .leaflet-popup-content {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    max-width: 180px;
    padding: 10px;
    overflow: hidden;
}

::ng-deep .leaflet-popup h4 {
    margin: 10px 0 0;
}

::ng-deep .leaflet-popup hr {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 13px;
}

::ng-deep .leaflet-popup p.popup-desc {
    margin: 0;
}
