#map-container {
    height: 100%;
    width: 100%;
}

#netlify-modal {
    position: absolute;
    z-index: 9999 !important;
}

#menu {
    position: absolute;
    z-index: 2000;
}

.menu-button {
    position: relative;
    z-index: 2000;
    width: 56px;
    height: 56px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#add-marker {
    background-image: url("./../assets/add-icon.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}
