#map-container {
    height: 100%;
    width: 100%;
}

#menu {
    position: absolute;
    z-index: 2000;
}

.menu-button {
    position: relative;
    z-index: 2000;
    width: 56px;
    height: 56px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#add-marker {
    background-image: url("./../assets/add-icon.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

#journey-planner {
    background-image: url("./../assets/journey.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

/* Styles for phones */
@media (max-width: 750px) {
    #menu {
        bottom: 10px;
        left: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .menu-button {
        margin: 5px;
    }
}
